<div class="profile-background fullpage-background-img">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container general-form-container">
  
        <h2 class="text-center">{{ this.fullName }} </h2>
        <p>{{this.description}}</p>
        <p>{{this.images.[0].url}}</p>
        {{!-- <p>{{this.images.[0].url}}</p> --}}
        <img src={{this.images.[0].url}}>
        {{!-- <p>{{this.id}}</p>
        <p>{{this.lat}}</p> --}}
  
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>