<div class="fullpage-background-img park-detail-background transition-fade-in" style="background: url({{this.randomImage}}">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container-fluid general-form-container justify-content-center">
    <h2 class="text-center">{{ this.fullName }} </h2>
    <p>{{this.description}}</p>
    <div class="row align-content-center">
      <div class="col">
        <img class="d-block w-100 carousel-image" src={{this.images.[0].url}}>
        <div class="text-center">
          {{this.images.[0].caption}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"align="center">
      <p>For more info visit us <a href={{this.url}}>here</a></p>.
      </div>
    </div>
  </div>
</div>